html, body {
  margin: 0;  /* 画面全体の白枠抑制 */
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 80px;
  flex-shrink: 0;
  background: #5c515b;
  color: #e6cfe4;
}

#cesiumContainer {
  flex: 1;
}